body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color: #80cf5f;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    padding: 3px;
}

nav a{
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    float:right;
}
nav a:hover{
    color:black;
    transition: background-color 0.2s;
}
section.home{
        height: 600px;
        background: url("background\ web\ \(1\).png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 100px;
    }
    
    section.home div {
        text-align: center;
        color: white;
        margin: auto;
        width: 70%;
        padding: 20px;
    }
    
    section.home a {
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        box-shadow: 0px 0px 3px;
        border-radius: 20px;
    }

section.about {
    background-color:#438b12;
    height: 400px;
    padding-top: 350px;
}
section.about div{
    color:white;
    text-align: center;
    margin:auto;
    width: 70%;
}
section.about img{
    height: 200px;
    float: right;
}

section.product {
    background-color: #c2eb5d;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
    height: 1400px;
}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}
section.product .container .card{
    background-color: rgb(26, 179, 23);
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 600px;
    margin: 15px;
}
section.product .container .card img{
    width: 100%;
}
section.product .container .card a{
    color:black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}

section.contact {
    background-color:#24882e;
    height: 600px;
}
section.contact .card{
    margin:auto;
    text-align: center;
    padding-top: 100px;
    width: 400px;
}
section.contact .img{
    width: 300px;
    border-radius: 20px;
}

footer {
    background-color:#438b12;
    height: 100px;
}
footer .medsos{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer .medsos a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    align-items: center;
    color: black;
}
footer .medsos a:hover{
    background-color: rgb(255, 251, 147);
      transition:0.5s;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
        scale:95%;
        filter:drop-shadow(0px 0px 5px black);
}
.card{
    width:200px; 
    margin:10px; 
    height: 500px; 
    box-shadow: 0 0 2px ; 
    padding: 10px; 
    padding-top: 5px;
    text-align: center; 
    color:rgb(255, 255, 255);
    background-color: rgb(206, 116, 7) ;
}
.card img{
    width: 100%;
}
.card:hover{
    transition: 0.5s;
    transform: scale(1.050);
}
.product {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
button{
    cursor: pointer;
    margin:5px;
    color:rgb(0, 0, 0) ;
    background-color: rgb(201, 236, 74) ;
}
.deskripsi{
    height: 75px ;
    padding-top: 8px ;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% ;
    color:rgb(255, 153, 0);
    justify-content: center;
}
body{
    margin:0;
  }
  header{
    justify-content: space-between;
    background-color:#66e172;
    display: flex;
  }
  nav a {
      float: left;
      text-align: center;
      padding: 25px 10px;
      color: white;
      text-decoration: none;
  }
  nav a:hover {
      background-color: #f3ea50;
  }

  .wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.box div{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px white;
}
.box div:nth-child(1){
    top:12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top:70%;
    left: 50%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(3){
    top:17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top:20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top:67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top:80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top:60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top:90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top:20%;
    left: 80%;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity:1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity:0;
    }
}